body{
    background-color: aqua;
}
h2{
    text-align: center;
    font-size:50px;
    font-family:cursive;
    text-decoration: dotted;
}
.calculator{
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background-color:#FAFFAF;
    padding:40px 0;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    border:2px solid black;
    
}
.calculator input{
    width: 80%;
    height: 80px;
    font-size:40px;
    text-align: right;
    border-radius:10px;
    margin-bottom:10px;
    }
.calculator button{
    width:50px;
    height: 50px;
    font-size:24px;
    border-radius:10px;
    margin:5px;
    border:none;
    background-color:#1985dd;
    cursor: pointer;
    color: aliceblue;
}

button:hover{
    background-color:#001D6E;
}
button:active{
    transform: scale(0.95);
}
.calculator .red{
    background:rgb(197, 8, 52);
    color: azure;
}
 .red:hover{
    background-color:#FFAF00;
}
.calculator .orange{
    background-color:orange;
}
.orange:hover{
    background-color:#F5004F;
}